<header id="header">
        <nav class="page__menu menu">
            <ul class="menu__list r-list">
              <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">Home</a></li>
              <li class="menu__group"><a href="/events" class="menu__link r-link text-underlined">Events</a></li>
              <li class="menu__group"><a href="/gallery" class="menu__link r-link text-underlined">Gallery</a></li>
              <li class="menu__group"><a href="/admission" class="menu__link r-link text-underlined">Admission</a></li>
              <li class="menu__group"><a href="/team" class="menu__link r-link text-underlined">Meet The Team</a></li>
              <li class="menu__group"><a href="/contact" class="menu__link r-link text-underlined">Contact</a></li>
              
            </ul>
          </nav>

</header>