<section class="contacts-header">
  <div class="container">
        <h2>Get In Touch</h2>
        <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, asperiores.
        </p>
      </div>
  </div>
</section>
  
  <section class="contact-cards">
    <div class="container">
      <div class="card">
        <i class="fas fa-phone fa-3x home"></i>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
          aliquid.
        </p>
        <a href="tel:+91-81750-43887">+91-81750-43887</a>
      </div>
      <div class="card">
        <i class="fab fa-whatsapp-square fa-3x whatsapp"></i>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
          autem.
        </p>
        <a href="https://api.whatsapp.com/send?phone=9848013670">+91 123456780</a>
      </div>
      <div class="card">
        <i class="fas fa-envelope fa-3x email"></i>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, ut?
        </p>
        <a href="mailto:someone@example.com">example@example.com</a>
      </div>
    </div>
  </section>

  <!-- form -->
  <section class="contact-form">
    <div class="container">
      <div class="form">
        <h2>Send Us a message!</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, praesentium!</p>
        <form id="contact-form">
          <input type="text" name="name" id="name" placeholder="Enter your name" required>
          <input type="email" name="email" id="email" placeholder="Enter your email" required>
          <select name="subject" id="email-subject">
            <option disabled selected>Subject</option>
            <option value="1">New Admission</option>
            <option value="2">Diet Plan</option>
            <option value="3">Daily Plan</option>
            <option value="4">Kids Progress</option>
            <option value="5">Feedback</option>
            <option value="6">Others</option>
          </select>
          <textarea name="message" id="message" placeholder="Enter your message" required></textarea>
          <button class="btn btn-primary" id="send-mail">Submit</button>
        </form>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14237.907302122008!2d80.99391823005458!3d26.856587730426874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be3fed7f1d75b%3A0xe70255051329c699!2sAaryavart%20Skills%20and%20interest%20development%20centre%20for%20autism%20and%20special%20needs%20an%20autism%20interavention%20centre.!5e0!3m2!1sen!2sin!4v1639916894558!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
    </div>
  </section>